// Fonts
$-f-outfit: 'Outfit', sans-serif;

// Colors
$-c-blue: hsl(215, 51%, 70%);
$-c-cyan: hsl(178, 100%, 50%);
$-c-white: hsl(0, 0%, 100%);

$-c-bg-body: hsl(217, 54%, 11%);
$-c-bg-card: hsl(216, 50%, 16%);
$-c-line: hsl(216, 50%, 16%);